{% extends 'base.html.twig' %}

{% block title %}Se connecter
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="title text-center">Se connecter</h1>
		<p class="text-center">Entrez votre email et votre mot de passe pour accéder à votre espace personnel.</p>
		<div class="container-fluid mt-4">
			<form action="{{ path('login') }}" method="POST">
				{% if error %}
					<div class="alert alert-danger" role="alert">{{
							error.messageKey|trans(error.messageData, 'security') }}
						</div>
				{% endif %}
				
				<div>
					<div class="mb-3">
						<label for="username" class="form-label">Email</label>
						<input type="text" id="username" name="_username" class="form-control" value="{{ lastUsername }}"/>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label mt-2">Mot de passe</label>
						<input type="password" id="password" name="_password" class="form-control"/>
					</div>
				</div>
				<div class="d-grid gap-2 d-md-block mt-4 text-center">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn btn-inline btn-primary">Se connecter</button>
				</div>
				<div class="text-center mt-5">
					<p>Mot de passe oublié ? <a href="#">Cliquez ici</a></p>
					<p>Pas encore de compte ? <a href="{{ path('register') }}">Créez en un</a></p>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
