{% extends 'base.html.twig' %}

{% block title %}Créer un compte {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    <section class="login-container">
		<h1 class="text-center">Créer un compte</h1>
		<p class="text-center">
			Créez-vous un compte pour commencer à échanger avec Lucile
		</p>
		{{ form_start(form) }}
		{# <div class="row">
			<div class="col-md-6">{{ form_row(form.firstName) }}</div>
			<div class="col-md-6">{{ form_row(form.lastName) }}</div>
		</div>
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-dark">S'inscrire</button> #}
		{{ form_end(form) }}
		<p class="text-center mt-4">
			Vous avez déjà un compte ?
			<a href="{{ path('login') }}">Connectez-vous</a>
		</p>
	</section>
{% endblock %}