{% extends 'base.html.twig' %}

{% block title %}Espace personnel  {{parent()}} {% endblock %}

{% block body %}

    <div>
        <h1>Bienvenue, X </h1>
        <div>
            <h2>Tableau de bord</h2>
            <ul>
                {# <li><a href=" {{path('client.horse')}} ">Voir mes chevaux</a></li>
                <li><a href=" {{path('client.horse.create')}} ">Ajouter un cheval</a></li>
                <li><a href=" {{path('client.horse.{id}.edit')}} ">Modifier un cheval</a></li>
                <li><a href=" {{path('client.horse.{id}.delete')}} ">Supprimer un cheval</a></li> #}
            </ul>
        </div>
    </div>

{% endblock %}
