{% extends 'base.html.twig' %}

{% block title %}Mon compte {{ parent() }}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue, {{ app.user.firstnameCl }} {{ app.user.lastnameCl }} </h1>

    <h2>Mes chevaux</h2>
    <a href="{{ path('app.client.horses.create') }}" class="btn btn-primary">Ajouter un cheval</a>
    {# Si l'utilisateur n'a pas de cheval, un message s'affiche pour le signaler #}
    {% if horses|length > 0 %}

    {# Affichage des chevaux de l'utilisateur sous forme de card #}
    <div class="row">
        {% for horse in horses %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ horse.nameHo }}</h5>
                        {# photo #}
                        <p class="card-text">{{ horse.sexHo }}</p>
                        <p class="card-text">{{ horse.breedHo }}</p>
                        <p class="card-text">{{ 'now'|date('Y') - horse.birthdateHo|date('Y') }} ans</p>
                        <a href="{{ path('app.client.horses.show', {'id': horse.id}) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('app.client.horses.edit', {'id': horse.id}) }}" class="btn btn-secondary">Modifier</a>
                        <form method="POST" action="{{path('app.client.horses.delete', {'id': horse.id})}}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce cheval ?');" >
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ horse.id) }}">
                            <button type="submit"  class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% else %}
        <p>Vous n'avez pas encore de cheval enregistré.</p>
    {% endif %}
</div>
{% endblock %}
