{# TODO: bouton de delog quand connection #}
{# TODO: changement présentation de la barre de nav quand sur espace perso #}
<header>
    <div class="header-logo">
        <a href="/">
            <img src="{{ asset('images/logo_LM.png') }}" alt="Logo de Lucile Monti">
        </a>
        <p>Secteur Villefranche-de-Rouergue (Aveyron 12)</p>
    </div>

    <div class="login-logo">
        {# Si personne n'est connecté : logo de connexion #}
        {# Si une personne est connecté : logo de déconnexion #}
        {% if not app.user %}
            <a href="{{ path('login') }}"><i class="bi bi-people-fill"></i></a>
        {% else %}
            <a href="{{ path('app.client.index') }}"><i class="bi bi-person-vcard"></i></a>
            <a href="{{ path('logout') }}"><i class="bi bi-box-arrow-right text-danger"></i></a>
        {% endif %}
    </div>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}"><i class="bi bi-person-raised-hand"></i> Présentation</a></li>
            <li><a href="#"><i class="bi bi-basket-fill"></i> Services et prestations</a></li>
            <li><a href="#"><i class="bi bi-camera-fill"></i> Galerie photo</a></li>
            <li><a href="#"><i class="bi bi-telephone-fill"></i> Contact</a></li>
        </ul>
    </nav>
</header>